* {
  box-sizing: border-box;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button{
  background-color: greenyellow;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  margin: 5px;
  width: 200px;
}

.calc div{
  min-width: 300px;
  padding: 8px;
  margin: 5px;
  border: 2px solid royalblue;
  display: inline-flex;
  align-items: baseline;
  justify-content: space-between;
}

span{
  padding-left: 20px;
}

.calc .product{
  flex-direction: column;
  border: 1px solid black;
  min-width: 165px;
  cursor: pointer;
}

.product:hover{
  background-color: green;
}
